---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{% include base_path %}

<h2>Courses</h2>

{% assign teaching_posts = site.teaching | sort: "date" | reverse %}
<p>
{% for post in teaching_posts %}
  <a href="{{ post.url | prepend: base_path }}" style="display: inline-block; background-color: #00579C; color: white; padding: 10px 20px; text-align: center; text-decoration: none; font-size: inherit; border-radius: 12px; transition: background-color 0.3s;">{{ post.title }}</a>
{% endfor %}
</p>
