---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* Photos page masonry gallery */
.page__content figure.photos-gallery {
  column-count: 3;
  column-gap: 1rem;
}

.page__content figure.photos-gallery .gallery__item {
  display: inline-block;
  width: 100%;
  margin: 0 0 1rem;
  break-inside: avoid;
}

.page__content figure.photos-gallery .gallery__item > a {
  display: block;
}

.page__content figure.photos-gallery img {
  display: block;
  width: 100%;
  height: auto;
}

.page__content figure.photos-gallery .gallery__caption {
  margin: 0.5rem 0 0;
  font-size: 12px;
  line-height: 1.35;
  text-align: center;
  font-family: "Malgun Gothic", "Apple SD Gothic Neo", "Noto Sans CJK KR", sans-serif;
}

@media (max-width: 900px) {
  .page__content figure.photos-gallery {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .page__content figure.photos-gallery {
    column-count: 1;
  }
}
